<div data-comp="signup" class="content container">
        <vue-headful
        :title="title || 'My App'"
        :description="description || ''"
        />
        <div class="row mb-5">

        
    <div class="col-lg-5 col-md-8 mr-auto ml-auto">
        <div class="signup-container" v-if="!successSignup">
        <h2 class="mb-4 concert-one">Create Account</h2>
        <div class="alert alert-danger" v-if="error">
            {{ error }}
        </div>
        <div class="form-group">
            <input
            type="text"
            class="form-control handlee"
            placeholder="Name"
            v-model="user_creds.name"
            @keyup="fieldKeyupEvent"
            >
        </div>
        <div class="form-group">
            <input
            type="text"
            class="form-control handlee"
            placeholder="Email"
            v-model="user_creds.email"
            @keyup="fieldKeyupEvent"
            >
        </div>
        <div class="form-group">
            <input
            type="password"
            class="form-control handlee"
            placeholder="Password"
            v-model="user_creds.password"
            @keyup="fieldKeyupEvent"
            >
        </div>
        
        <div class="form-group">
            <input
            type="text"
            class="form-control handlee"
            placeholder="Pen Name"
            v-model="user_creds.pet_name"
            @keyup="fieldKeyupEvent"
            >
        </div>
        <button class="btn action-btn btn-light-cust btn-block mt-4 loader-button" @click="submit()" :disabled="loggingIn"> <span :class="{'invisible':loggingIn}">Create Account </span> <custom-loader class="btn-loader" widthClass="15 " colorClass="grey" v-if="loggingIn"> </custom-loader> </button>
        <!-- <button class="btn action-btn btn-light-cust btn-block mt-4" @click="submit()">Create Account</button> -->
<!-- 
        <div id="or_div">
            <span>Or</span>
        </div> -->

        <!-- <div class="social-logins-wrap mt-5">
                <button class="btn social-login fb mb-3">
                        <i class="fi flaticon-facebook-logo"></i> Login with facebook
                </button>
                <button class="btn social-login google ml-auto">
                        <i class="fi flaticon-google-plus-symbol"></i> Login with google
                </button> -->
            <!-- <button class="btn btn-block social-login fb">Login with Facebook</button>
            <button class="btn btn-block social-login-btn google">Login with Google</button> -->
        <!-- </div> -->

    </div>
    <div class="successSignup page-error-message" v-if="successSignup">
        Welcome to My App. Please check your email for account verification.
    </div>
    </div>
    </div>
</div>