$color-1 : #403264;
// $color-1 : #fff;
// $color-2 : #E80772;
$color-2: #e91e63;
$color-3 : #F24173;
$color-4 : #D8E6FB;
$color-5 : #80B6EF;
 
$color-6 : #F7D39A;
$color-7 : #915F2C;
$color-8 : #562E11;

$color-9 : #FEF BF4;
$color-10 : #4F4640;
$color-11 : #E9E4D8;
$color-12 : #E7DDC9;
$color-13 : #A6A29B;

$color-14 : #39214F;
$color-15 : #FF0051;
$color-16 : #ffeb002e;
$color-17: #fafafa;  // Notepad's Color







