<html>
    <head>
            <title>
                Error | My App
            </title>
            <style>
                .text-center{
                    text-align: center;
                }
            </style>
    </head>
    
<h1 class="text-center" style="margin-top:2rem">
    Sorry! Something went wrong. Please go back to home.
</h1>
<h2 class="text-center" style="margin-top:2rem">
    <a href="<%= host %>">Show me the way </a>
</h2>