    /*
    Flaticon icon font: Flaticon
    Creation date: 22/04/2018 12:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("/assets/font/Flaticon_1547450694010xyaWm.eot");
  src: url("/assets/font/Flaticon_1547450694010xyaWm.eot?#iefix") format("embedded-opentype"),
       url("/assets/font/Flaticon_1547450694010xyaWm.woff") format("woff"),
       url("/assets/font/Flaticon_1547450694010xyaWm.ttf") format("truetype"),
       url("/assets/font/Flaticon_1547450694010xyaWm.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/font/Flaticon_1547450694010xyaWm.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-link:before { content: "\f100"; }
.flaticon-list:before { content: "\f101"; }
.flaticon-more-1:before { content: "\f102"; }
.flaticon-more-2:before { content: "\f103"; }
.flaticon-open-magazine:before { content: "\f104"; }
.flaticon-more:before { content: "\f105"; }
.flaticon-more-button-interface-symbol-of-three-horizontal-aligned-dots:before { content: "\f106"; }
.flaticon-paint-palette:before { content: "\f107"; }
.flaticon-paint-board-and-brush:before { content: "\f108"; }
.flaticon-left-arrow:before { content: "\f109"; }
.flaticon-right-arrow:before { content: "\f10a"; }
.flaticon-menu-options:before { content: "\f10b"; }
.flaticon-book-open-blank-pages:before { content: "\f10c"; }
.flaticon-close:before { content: "\f10d"; }
.flaticon-share:before { content: "\f10e"; }
.flaticon-delete-button:before { content: "\f10f"; }
.flaticon-edit-document:before { content: "\f110"; }
.flaticon-people-1:before { content: "\f111"; }
.flaticon-people:before { content: "\f112"; }
.flaticon-interlock:before { content: "\f113"; }
.flaticon-open-book-top-view:before { content: "\f114"; }
.flaticon-view:before { content: "\f115"; }
.flaticon-facebook-logo:before { content: "\f116"; }
.flaticon-logout-1:before { content: "\f117"; }
.flaticon-google-plus-symbol:before { content: "\f118"; }
.flaticon-logout:before { content: "\f119"; }
.flaticon-multimedia:before { content: "\f11a"; }
.flaticon-tick:before { content: "\f11b"; }
.flaticon-inkwell:before { content: "\f11c"; }
.flaticon-letter-quill:before { content: "\f11d"; }
.flaticon-quill-drawing-a-line:before { content: "\f11e"; }
.flaticon-search:before { content: "\f11f"; }
.flaticon-zen:before { content: "\f120"; }
.flaticon-zen-stones:before { content: "\f121"; }
.flaticon-background:before { content: "\f122"; }
.flaticon-fonts-hand-drawn-symbol-outline:before { content: "\f123"; }
.flaticon-check:before { content: "\f124"; }
.flaticon-opened-book-with-bookmark:before { content: "\f125"; }
    
    $font-Flaticon-link: "\f100";
    $font-Flaticon-list: "\f101";
    $font-Flaticon-more-1: "\f102";
    $font-Flaticon-more-2: "\f103";
    $font-Flaticon-open-magazine: "\f104";
    $font-Flaticon-more: "\f105";
    $font-Flaticon-more-button-interface-symbol-of-three-horizontal-aligned-dots: "\f106";
    $font-Flaticon-paint-palette: "\f107";
    $font-Flaticon-paint-board-and-brush: "\f108";
    $font-Flaticon-left-arrow: "\f109";
    $font-Flaticon-right-arrow: "\f10a";
    $font-Flaticon-menu-options: "\f10b";
    $font-Flaticon-book-open-blank-pages: "\f10c";
    $font-Flaticon-close: "\f10d";
    $font-Flaticon-share: "\f10e";
    $font-Flaticon-delete-button: "\f10f";
    $font-Flaticon-edit-document: "\f110";
    $font-Flaticon-people-1: "\f111";
    $font-Flaticon-people: "\f112";
    $font-Flaticon-interlock: "\f113";
    $font-Flaticon-open-book-top-view: "\f114";
    $font-Flaticon-view: "\f115";
    $font-Flaticon-facebook-logo: "\f116";
    $font-Flaticon-logout-1: "\f117";
    $font-Flaticon-google-plus-symbol: "\f118";
    $font-Flaticon-logout: "\f119";
    $font-Flaticon-multimedia: "\f11a";
    $font-Flaticon-tick: "\f11b";
    $font-Flaticon-inkwell: "\f11c";
    $font-Flaticon-letter-quill: "\f11d";
    $font-Flaticon-quill-drawing-a-line: "\f11e";
    $font-Flaticon-search: "\f11f";
    $font-Flaticon-zen: "\f120";
    $font-Flaticon-zen-stones: "\f121";
    $font-Flaticon-background: "\f122";
    $font-Flaticon-fonts-hand-drawn-symbol-outline: "\f123";
    $font-Flaticon-check: "\f124";
    $font-Flaticon-opened-book-with-bookmark: "\f125";